* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.no-select {
    -webkit-user-select: none;  /* Chrome, Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;          /* Padrão */
}

section {
    background-image: url(../imgs/lasalle.jpg);
    background-size: cover;
    height: calc(100vh - 120px);
}

section::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #000000;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 0;
}

.header {
    height: 60px;
    border-bottom: 2px solid #00357b;
    position: relative;
    z-index: 1;
    background: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
}

.header .img-logo {
    width: 100px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.div-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top: 50px;
    width: 500px;
}

.div-form p {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    align-self: flex-start;
    margin-bottom: 20px;
}

.custom-select-container {
    position: relative;
    width: 100%;
    max-width: 500px; /* largura máxima */
}

.custom-select-trigger {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 32px;
}

.custom-select-trigger:after {
    content: '▼'; 
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.custom-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 230px; /* Altura máxima com scroll */
    overflow-y: auto; /* Scroll vertical */
    background-color: #fff;
    border: 1px solid #ccc;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
}

.custom-options li {
    padding: 10px;
    cursor: pointer;
}

.custom-options li:hover {
    background-color: #f0f0f0;
}
.div-form form {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.div-form input {
    font-size: 14px;
    padding: 15px 10px 5px;
    background-color: #ffffff;
    border: none;
    color: #000000;
    width: 100%
}

.div-form label {
    color: #000000;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 3px solid #ffc400;
}

.div-form button {
    font-size: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

.div-form span {
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.div-form label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #00357b;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.div-form input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.div-form input:focus+label span,
.div-form input:valid+label span {
    transform: translateY(-150%);
    font-size: 10px;
    bottom: -2px;
    color: #000000;
    border: none;
}

.div-form input:focus+label::after,
.div-form input:valid+label::after {
    transform: translateX(0%);
}

.footer {
    height: 60px;
    border-top: 2px solid #ffc400;
    position: relative;
    z-index: 1;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 12px;
    color: #4e4e4e;
    font-weight: 500;
    text-transform: capitalize;
}

.footer p.copy {
    font-size: 10px;
    color: #8f8f8f;
}